@charset "UTF-8";
carousel {
    margin-bottom: 20px;
}
.container-fluid {
    margin-bottom: 30px;
    margin-top: 32px;
}
tab {

}
img1 {

}
texto {
    color: #FFFFFF;
    background-color: #A8AEED;
}
barra {
    background-color: #B4BBEF;
}
